PROMETHEUS_URL="prometheus.example.com"
GRAFANA_URL="grafana.example.com"
ALERTMANAGER_URL="alertmanager.example.com"

PROMETHEUS_DIGEST_AUTH=""
PROMETHEUS_PASSWORD=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
