# General / Node Settings
NODE_NAME="node-01"
PROMETHEUS_DOMAIN="prometheus.example.com"
PROMETHEUS_BASIC_AUTH=""

# Central Settings
GRAFANA_DOMAIN="grafana.example.com"
ALERTMANAGER_DOMAIN="alertmanager.example.com"
BLACKBOX_DOMAIN="blackbox.example.com"

GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

PROMETHEUS_PASSWORD=""
