# General / Node Settings
NODE_NAME="node-01"
PROMETHEUS_DOMAIN="prometheus.example.com"
PROMETHEUS_BASIC_AUTH=""

# Central Settings

## Domains
GRAFANA_DOMAIN="grafana.example.com"
ALERTMANAGER_DOMAIN="alertmanager.example.com"
BLACKBOX_DOMAIN="blackbox.example.com"

## Grafana
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"

## Grafana - OIDC
OIDC_DOMAIN="authentik.example.com"
OIDC_SLUG="grafana"
OIDC_CLIENT_ID=""
OIDC_CLIENT_SECRET=""

## Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

## Prometheus
PROMETHEUS_PASSWORD=""
